.y-loading-cloudy {
  position: relative;
  height: 100%;
  width: 100%;
}

.y-loading-cloudy svg {
  width: 100%;
  height: 100%;
}

.y-loading-cloudy svg path {
  stroke-width: 0.25;
}

.y-loading-cloudy #cloud {
  position: relative;
  z-index: 2;
}

.y-loading-cloudy #sun {
  position: absolute;
  right: 0;
  top: 12%;
  width: 50%;
  height: 50%;
  z-index: 1;

  animation-name: y-loading-raining-rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes y-loading-raining-rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
