/**
 * @date 2020-04-22 
 * @author liaoyanyan
 * @description 通用css
 */

//  全局自定义class

@primary-color: #2d8cf0;
@light-primary-color: #5cadff;
@dark-primary-color: #2b85e4;


@info-color: #2db7f5;
@success-color: #19be6b;
@warning-color: #ff9900;
@error-color: #ed4014;

@title-color: #17233d;
@text-color: #515a6e;
@subtext-color: #808695;
@disabled-color: #c5c8ce;
@border-color: #dcdee2;
@background-color: #f8f8f9;

@keyword-color: #fa795e;

.m-t-5{
  margin-top: 0.5rem;
}
.m-r-5{
  margin-right: 0.5rem;
}
.m-b-5{
  margin-bottom: 0.5rem;
}
.m-l-5{
  margin-left: 0.5rem;
}
.full{
  width: 100%;
  height: 100%;
}
.full-w{
  width: 100%;
}
.full-h{
  height: 100%;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
.flex{
  display: flex;
}
.center{
  .flex;
  justify-content:center;
  align-items: center;
}
.center-h{
  .flex;
  align-items: center;
}
.center-w{
  .flex;
  justify-content: center;
}
.flex-wrap (@dir:row) {
  display: flex;
  flex-direction: @dir;
}
.main{
  position: relative;
  .full;
}
.main-row{
  .main;
  .flex-wrap;
}
.main-column{
  .main;
  .flex-wrap(column);
}
.border-gradual(@wid: .1rem) {
  border: @wid solid #096cd4;
  border-image: linear-gradient(to right,#0d57a5,#23b7cb,) 1 10;
}
.warning-color{
  color: @warning-color;
}
.info-color{
  color: @info-color;
}
.success-color{
  color: @success-color;
}
.error-color{
  color: @error-color;
}
.title-color{
  color: @title-color;
}
.text-color{
  color: @text-color;
}
.subtext-color{
  color: @subtext-color;
}
.disabled-color{
  color: @disabled-color;
}
.border-color{
  color: @border-color;
}
.text-over(@column:1){
  min-width: 0;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @column;
  -webkit-box-orient: vertical;
}
.pointer{
  cursor: pointer;
}
.default-ul{
  list-style-type: disc;
}

// 全局标签样式
*, :after, :before {
  box-sizing: border-box;
}
html,body{
  .full;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  color: @text-color;
}
ul{
  list-style-type: none;
}
ul,pre,p{
  padding: 0;
  margin: 0;
}
code, kbd, pre, samp {
  font-family: Consolas,Menlo,Courier,monospace;
}

// 滚动条整体样式
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
// 滚动条滑块样式
::-webkit-scrollbar-thumb{
  background: @border-color;
  -webkit-border-radius: 4px;
}

/* 全局自定义的样式 */

// 整个代码文章块
.code-article{
  padding: 0 20px 100px 0;
  flex: 1;
  overflow-y: auto;
  h1 {
    font-size: 26px;
    font-weight: 400;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
  }
}
// 代码关键词
.keyword-code{
  padding: 0 5px;
  color: @keyword-color;
  background-color: #fff5f5;
}
// 代码框
.code-card{
  .main;
  pre{
    .full;
    .center;
    padding: 5px;
    .hljs{
      .full;
      line-height: 1.5;
    }
  }
}
// 预览框
.preview-card {
  .preview,
  .introduce {
    padding: 10px;
    font-size: 14px;
    & > p {
      margin: 5px 0;
    }
    code {
      .keyword-code;
    }
  }
}
// 右侧导航条
.code-navigation {
  display: table;
  margin-left: 10px;
  border-left: 1px solid @border-color;
  width: 120px;
  font-size: 12px;
  & > li {
    padding: 8px 0 8px 16px;
  }
}